
.container {
    display: flex;
    padding: 4px;
}
    /* .item {
        background-color: #282c34;
        margin: 6px;
    }
    .photo {
        flex: 0 1 10%;
    }
    .text {
        flex: 0 1 70%;
    }
    .button {
        flex: 0 1 20%;
    } */

.linkPhoto {
    
    border-radius: 28px;
}