
.input {
    padding: 12px;
    font-size: 16px;
    background-color: #282c34;
    border-radius: 4px;
    color: orange;
    border: none;
    width: 100%;
}

input:focus-visible {
    outline: none;
}